pip==23.1.2
streamlit==1.24.0
nltk==3.8.1
torch
wordcloud==1.9.2
matplotlib==3.7.2
pandas==2.0.3
spacy==3.2.0
transformers==4.30.2
requests==2.31.0
reportlab==4.0.4
Pillow==9.5.0
sentencepiece==0.1.99
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.1.0/es_core_news_sm-3.1.0.tar.gz
